    body {font-family: serif;
        font-size: 14px;}

    a {text-transform: lowercase;
        color: #0089e1;}
    
    a:visited {
    
        color: blue;}

    i {color: #00d024;}

    b {color: #a31f1e;}

        p {
            font-family: courier;
            font-size: 12px;}

        h1 {font-size: 15px;
            text-transform: lowercase;
            background-color: #a31f1e;
            color: white;
            font-family: impact;} 
        
        h2 {font-size: 20px;
            text-transform: uppercase;
            background-color: #003890;
            color: white;
            font-family: courier;} 

        h3 {font-size: 22px;
            text-transform: uppercase;
            background-color: #00cb4f;
            color: white;
            font-family: courier;}
            
        h4 {font-size: 10px;
            text-transform: uppercase;
            background-color: #d219e3;
            color: white;
            font-family: courier;}

        table, th, td {background-color: #d2fd87;
            text-align: right;
            border-color: #d219e3;}

        li {font-size: 15px;}


